<div class="container">
<%- model_class = Speaker -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:headline) %></th>
      <th><%= model_class.human_attribute_name(:topics) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
 
    </tr>
  </thead>
  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= link_to speaker.id, speaker_path(speaker) %></td>
        <td><%= speaker.name %></td>
        <td><%= speaker.headline %></td>
        <td><%= speaker.topic %></td>
        <td><%= speaker.description %></td>

        <td>
          <%= link_to 'Show', speaker, :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_speaker_path,
            :class => 'btn btn-primary' %>
</div>